@import "settings";
@import "foundation/components/grid";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// small
@media only screen {
    .off-canvas-wrap,
    .inner-wrap,
    .header {
        height: 100%;
    }
    .header {
        .hide-for-small {
            .top {
                margin-top: 1rem;
            }
            hr {
                margin: 1rem;
            }
            .name {
                font-weight: 300;
                text-align: center;
                margin: 0;
            }
            .social {
                text-align: center;
            }
            .link {
                color: $charcoal;
                text-decoration: none;
                transition: all 300ms ease;
                &:hover {
                    color: $black;
                }
                .icon {
                    position: absolute;
                    max-width: 2rem;
                    margin-left: -1rem;
                    top: -5px;
                }
                .square {
                    max-width: 1.5rem;
                    margin-top: 4px;
                }
                .text {
                    margin-left: 1rem;
                }
            }
        }
        .tab-bar.show-for-small {
            border-bottom: solid 1px gray;
        }
        .off-canvas-list {
            .icon {
                max-width: 2rem;
            }
            .square {
                max-width: 1.5rem;
                margin-right: 5px;
                margin-left: 4px;
            }
        }
    }
}

// medium
@media only screen and (min-width: 40.0625em) {}

// large
@media only screen and (min-width: 64.0625em) {}
