@import "settings";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/top-bar";
@import "foundation/components/type";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

/*
 * 
 */

// small
@media only screen {
    .off-canvas-wrap,
    .inner-wrap,
    .header {
        height: 100%;
    }

    .header {
        .top-bar.hide-for-small {
            border-bottom: solid 1px rgba(128, 128, 128, 0.5);
            // move the bottom of the top bar to align with the buttons on the side
            height: 46px;
        }
        .tab-bar.show-for-small {
            border-bottom: solid 1px gray;
        }
        .top-bar-section li:not(.has-form) a:not(.button) {
            transition: all 300ms ease;
        }
    }
}

// medium
@media only screen and (min-width: 40.0625em) {}

// large
@media only screen and (min-width: 64.0625em) {}
