@import "settings";
@import "foundation/components/grid";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// all screen sizes and print
@media only print, screen {
    // nav
    .nav.hide-for-small {
        margin-bottom: 3rem;
        .top {
            margin-top: 1rem;
        }
        hr {
            margin: 0.5rem 0 1rem;
        }
        .name {
            font-weight: 300;
            font-size: 2.25rem;
            text-align: right;
            margin: 0;
        }
        .meta {
            text-align: right;
            font-weight: 300;
        }
        .social {
            text-align: center;
        }
        .link {
            color: $charcoal;
            font-weight: 300;
            text-decoration: none;
            transition: all 300ms ease;
            &:hover {
                color: $black;
            }
            .icon {
                position: absolute;
                max-width: 2rem;
                margin-left: -1rem;
                top: -5px;
            }
            .square {
                max-width: 1.5rem;
                margin-top: 4px;
            }
            .text {
                margin-left: 1rem;
            }
        }
    }
    .tab-bar.show-for-small {
        border-bottom: solid 1px gray;
        margin-bottom: 1rem;
    }
    .left-off-canvas-menu {
        .icon {
            max-width: 2rem;
        }
        .square {
            max-width: 1.5rem;
            margin-right: 5px;
            margin-left: 4px;
        }
    }
    // main
    .main {
        margin-bottom: 1rem;
        .heading {
            h2 {
                font-weight: 300;
                font-size: 2rem;
            }
            hr {
                border: solid $smoke;
                border-width: 1px 0 0;
                margin-top: 0;
            }
        }
        .experience .heading hr {
            margin-bottom: 0;
        }
        .company {
            margin: 1rem 0;
            .icon {
                display: inline;
                float: left;
                max-width: 100px;
                padding-right: 0.75rem;
                margin-bottom: 1rem;
            }
            .rectangle {
                max-width: 175px;
                max-height: 70px;
                margin-top: 7px;
                margin-bottom: 2rem;
            }
            h3, h4, h5 {
                font-weight: 300;
                margin: 0;
            }
            h5 {
                font-size: 1rem;
            }
            .duration {
                padding-right: 10px;
            }
            .location {
                padding-left: 10px;
            }
        }
        .description {
            p {
                margin-bottom: 0.75rem;
            }
        }
        .awards {
            margin-top: 1rem;
            .heading hr {
                margin-bottom: 1rem;
            }
        }
        .awards-list {
            li {
                list-style-type: circle;
            }
        }
        .education .heading hr {
            margin-bottom: 1rem;
        }
    }
}

// print specifics
@media print {
    // set the width of the display to what fits a normal 8x10
    // (and also map it to the 'large' size)
    html {
        width: rem-calc(1100px);
    }
    // adjust the large column sizes
    @for $i from 1 through $total-columns {
        .large-#{$i} {
            width: percentage($i / $total-columns);
        }
    }
    // hide the nav icons
    .nav.hide-for-small .link .icon {
        display: none;
    }
}

// medium
@media only screen and (min-width: 40.0625em) {}

// large
@media only screen and (min-width: 64.0625em) {}
