<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Dylan Smith</title>

    <!--
    *
    * Hey you! You chose to view the source! Would you like to see
    * the full source instead?
    * If so, please visit: https://github.com/dylants/resume
    *
    * Thanks for stopping by!
    *
    -->

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- You should totally check out this awesome clipart full size -->
    <link rel="icon" href="https://s3.amazonaws.com/dylants-resume/public/images/resume.jpg" />

    <!-- git revision: {{gitRevision}} -->

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">{% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <!-- nav -->
            <nav class="nav hide-for-small">
                <section class="top row">
                    <div class="small-12 columns">
                        <h1 class="name">Dylan Smith</h1>
                        <div class="meta">Web Developer</div>
                        <div class="meta">Austin, TX</div>
                        <hr>
                    </div>
                </section>
                <section class="bottom row">
                    <div class="social medium-2 columns">
                        <a class="link" href="https://github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">GitHub</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://blog.dylants.com">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/blog.png">
                            <span class="text">Blog</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://stackoverflow.com/users/3666800/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/stack-overflow.png">
                            <span class="text">Stack Overflow</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://gist.github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">Gists</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://twitter.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/twitter.png">
                            <span class="text">Twitter</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="http://www.linkedin.com/in/dylants">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/linkedin.png">
                            <span class="text">LinkedIn</span>
                        </a>
                    </div>
                </section>
            </nav>
            <nav class="tab-bar show-for-small">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon">
                        <span></span>
                    </a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title">Dylan Smith</h1>
                </section>
            </nav>
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li>
                        <label class="first">Social</label>
                    </li>
                    <li>
                        <a class="link" href="https://github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://blog.dylants.com">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/blog.png">
                            <span class="text">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://stackoverflow.com/users/3666800/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/stack-overflow.png">
                            <span class="text">Stack Overflow</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://gist.github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">Gists</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://twitter.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/twitter.png">
                            <span class="text">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="http://www.linkedin.com/in/dylants">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/linkedin.png">
                            <span class="text">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <a class="exit-off-canvas" href="#"></a>

            <!-- page content -->
            {% block content %}{% endblock %}
            
        </div>
    </div>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
</body>

</html>
