{% extends 'layout.server.view.html' %} {% block content %}

<main>

  <h2>Profile</h2>

  <div class="profile">
    <p>Broad experience leading teams and producing high quality software. Received the highest performance ratings at multiple companies. Passionate about solving problems, mentoring, and staying close to the tech.</p>
  </div>


  <h2>Experience</h2>

  <div class="companies">

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/poggio.png">
      </div>
      <div class="text">
        <div class="title">Senior Engineer</div>
        <div class="company-name">Poggio Labs</div>
        <div class="details"><span class="duration">December 2022 - Present</span>|<span class="location">Remote</span></div>
      </div>
    </div>
    <div class="description">
      <p>Senior Engineer at a small startup. Responsible for leading projects and mentoring other engineers. The larger scoped projects required up front technical design, a breakdown of work into tickets, regular updates, and taking point on development. Worked closely with product and design to quickly build prototypes used to demo to customers. Regularly triaged support issues to identify root cause and resolve the problem.</p>
      <p>The product was a Node.js web application written in Typescript. The frontend used React with Apollo GraphQL as the API layer. A mix of Jest and Playwright for testing, and Storybook to showcase components. Continuous integration and deployment allowed for rapid release.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/syscolabs.jpeg">
      </div>
      <div class="text">
        <div class="title">Engineering Manager</div>
        <div class="company-name">Sysco Labs</div>
        <div class="details"><span class="duration">July 2022 - December 2022</span>|<span class="location">Remote</span></div>
      </div>
    </div>
    <div class="description">
      <p>Technical manager for a product team responsible for building out components and services for the Sysco Shop application. Paired with the team to code through feature work, reviewed PRs, debugged issues, and helped to guide new development. Led the team rituals, worked closely with product and other key stakeholders to gather and process work requests for the team.</p>
      <p>The tech stack consisted of a set of React applications built on top of Node.js and Java microservices. A set of core components were shared, and utilized Storybook to coordinate with design. Additional third party services, such as Salesforce, were wired into the service layer via API calls.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/reverb.png">
      </div>
      <div class="text">
        <div class="title">Engineering Manager</div>
        <div class="company-name">Reverb</div>
        <div class="details"><span class="duration">February 2020 - April 2022</span>|<span class="location">Remote</span></div>
      </div>
    </div>
    <div class="description">
      <p>Established a team process for how work was done. Conducted planning meetings to break down work and build out a reliable roadmap. Communicated regularly with stakeholders to create transparency in our process and alignment on the team. Instituted team demo sessions to share knowledge. Added weekly team commitments, and reflected and iterated as a team during retro.</p>
      <p>Paired with engineers to complete feature work. Held educational sessions with more junior engineers and explored necessary changes to the systems and architecture with more senior engineers. Encouraged feedback and provided regular feedback during weekly 1-1s. Conducted quarterly reviews providing guidance on areas of success and areas of growth across core competencies.</p>
      <p>Redesigned the engineering hiring process. Introduced Coderpad as a technical screening tool and developed questions along with the rubric. Defined a remote onboarding process for new hires which included guidance on the manager's initial meeting, a cadence for regular learnings in the first two weeks, cross team introductions with other engineering teams, and feedback on the approach to improve.</p>
      <p>The main application was written in Rails with a React frontend. A custom CMS solution was built utilizing a common set of React components which users could personalize within a custom admin interface. Some solutions required third party technologies, such as offsite advertising, which needed an up-to-date replica of all products in Google Merchant Center.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/bluecrew.svg">
      </div>
      <div class="text">
        <div class="title">Senior Engineer, Tech Lead</div>
        <div class="company-name">Bluecrew</div>
        <div class="details"><span class="duration">August 2019 - January 2020</span>|<span class="location">Chicago, IL</span></div>
      </div>
    </div>
    <div class="description">
      <p>Developed both the backend APIs and frontend UI for a next-gen customer experience. Planned out features, mentored junior engineers, and worked with senior leadership to establish consistent and reliable development patterns going forward.</p>
      <p>The application consisted of a MySql database, a Node.js API layer, and a React UI. The backend layer utilized Sequelize for modeling of the data and Express for API management. React and Redux were used to build out the frontend and handle state management and communication with the APIs.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/signal.png">
      </div>
      <div class="text">
        <div class="title">Senior Engineer, Team Lead</div>
        <div class="company-name">Signal</div>
        <div class="details"><span class="duration">November 2017 - August 2019</span>|<span class="location">Chicago, IL</span></div>
      </div>
    </div>
    <div class="description">
      <p>Led the front end team in building out features in short iterations. This included working closely with product and design to decide on features to develop, then communicating that work out to the team while discussing impacts with the broader organization. Held daily standups, weekly planning meetings, and retrospectives to help gain insight into how we can improve the process.</p>
      <p>Responsible for guiding the front end architecture along with mentoring junior developers. I regularly paired with engineers to assist in development, and could often be found drawing on a whiteboard to help explain difficult pieces of the system or how the team should move forward with a specific implementation. I worked with the operations team to build and deploy our applications in CI and in production, while also working alongside test teams to design our test strategy.</p>
      <p>The UI applications were web based, using React, Redux, and Webpack on the client side and Node with Express on the server side. Node modules were developed to help share code across applications, which included a common set of UI components to retain consistency in the views.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/cognitivescale.jpg">
      </div>
      <div class="text">
        <div class="title">Senior Engineer, Team Lead</div>
        <div class="company-name">CognitiveScale</div>
        <div class="details"><span class="duration">August 2014 - November 2017</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Led both the team and the development of the user interface for the company. Responsible for hiring new engineers, along with mentoring and leading the team. Led daily standups and retrospectives. Responsible for working with product and business teams to break down customer requirements into work items for the team.</p>
      <p>The web technology was a mix of React/Redux, along with React Native in native app development. Node.js was used to power the server side of the UI, utilizing Express for APIs and Mongo for storage. Earlier iterations used Angular, and in the native device case, a combination of Ionic and Angular.</p>
      <p>Assisted the developer operations team on deployment of the Node.js applications, as well as production support for applications. Helped build documentation and training for customer sessions.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/nodeschool.png">
      </div>
      <div class="text">
        <div class="title">Co-Organizer and Mentor</div>
        <div class="company-name">Austin NodeSchool</div>
        <div class="details"><span class="duration">September 2014 - March 2016</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Co-organizer, mentor, and frequent presenter of Austin NodeSchool. Helped build the Austin NodeSchool presence using the available open source community tools and encouraged others to help with this effort. Presented multiple workshops at events and helped answer questions outside the hosted events. More information can be found at <a class="ga-link" href="https://nodeschool.io/austin">Austin NodeSchool</a>.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/maker-square.png">
      </div>
      <div class="text">
        <div class="title">Mentor</div>
        <div class="company-name">MakerSquare</div>
        <div class="details"><span class="duration">July 2014 - February 2015</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Volunteer for the MakerSquare mentor program. MakerSquare provides a three-month course for students who are interested in transitioning to a software engineering career. I often was paired with a student for me to mentor outside of class. I met with each of these students on a weekly basis and, during these meetings, helped with course material, answered questions, reviewed the student's resume, and provided advice about the industry.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/xogroup.jpg">
      </div>
      <div class="text">
        <div class="title">Senior Engineer</div>
        <div class="company-name">XO Group, Labs Team</div>
        <div class="details"><span class="duration">June 2013 – August 2014</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Developed APIs useful in prototyping a mobile app experience. The APIs were developed in Node.js, using Express, and utilized Mongo as the backend database. Passport security was integrated to allow user profiles in the mobile app. Developed an Apple push notification service for the app. Setup an internal npm registry for Node.js packages, and helped developer operations design automation to deploy Node.js to production.</p>
      <p>Developed an e-commerce marketplace platform to provide vendors an ability to sell to the general public. The APIs were developed in Java/Spring, and utilized Spring Security. Designed and developed an admin interface to the system using Backbone.js, and used Node.js to both serve up the UI and test the backend APIs. Setup a Jenkins continuous integration server to run nightly builds and deploy to an AWS EC2 environment.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
      </div>
      <div class="text">
        <div class="title">Senior Engineer</div>
        <div class="company-name">PayPal, Identity</div>
        <div class="details"><span class="duration">January 2013 - June 2013</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Built and maintained third party JavaScript web applications which merchants could use to interact with the PayPal Identity offering, using mostly Backbone as a framework, Dust as a templating engine, and RequireJS to manage dependencies. Spring REST and Node.js (depending on the application) were used on the backend to manage sending data needed to the client (browser).</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/ebay.png">
      </div>
      <div class="text">
        <div class="title">Senior Engineer, Development Lead</div>
        <div class="company-name">eBay, Resolutions Center</div>
        <div class="details"><span class="duration">January 2012 - January 2013</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Led development and architecture of a major redesign of the legacy platform to an open source Spring/JAX-RS/OSGi based solution. The update also included adoption of a JavaScript MVW style framework for the front-end.</p>
      <p>Continually involved in design, architecture, and planning of future work by aligning with the business, reaching out to external teams, and resource planning for FY2012/13 deliverables.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
      </div>
      <div class="text">
        <div class="title">Senior Engineer</div>
        <div class="company-name">PayPal, Architecture Infrastructure Web Technology</div>
        <div class="details"><span class="duration">January 2010 - January 2012</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Senior developer on web application infrastructure framework (Sparta). Developed, led and maintained code used by PayPal to host Java based applications running the PayPal website.</p>
      <p>Architected and developed multiple Java based projects glued together with Maven, utilizing Spring for core configuration and web flow.</p>
      <p>Designed and implemented Eclipse based plugins used by developers to build applications and add individual web pages to existing projects.</p>
      <p>Lead technical developer on PayPal’s Digital Goods Express Checkout application, the first PayPal web flow to use “Remember Me” authentication.</p>
      <p>Led education sessions across the company on how to use Java, Spring, Maven, Eclipse, and Sparta based applications in general.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
      </div>
      <div class="text">
        <div class="title">QA Engineer, Team Lead</div>
        <div class="company-name">PayPal, Core Technologies Automation</div>
        <div class="details"><span class="duration">April 2008 - January 2010</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Created, designed, and implemented a Java based automation framework used by teams across PayPal.</p>
      <p>Led an effort to migrate testing to this Java based framework, gave presentations on its need and benefits to executive level management while leading educational sessions across the company.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
      </div>
      <div class="text">
        <div class="title">Software Engineer</div>
        <div class="company-name">IBM, Web Services and Web Services Security Development</div>
        <div class="details"><span class="duration">January 2007 - April 2008</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Acquired a proficiency in Web Services policy set framework and administrative console, in addition to Web Services Security internals and caching solutions.</p>
      <p>Designed and implemented many features in Web Services, including schema definitions, working with JAXB generated objects, policy interactions, security role definitions, and multiple admin tasks.</p>
      <p>Developed Web Services Security functions. This required an understanding of internal caching mechanisms and an expansion upon those using MBean and JDBC/Database solutions.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
      </div>
      <div class="text">
        <div class="title">QA Engineer, Team Lead</div>
        <div class="company-name">IBM, Web Services and Web Services Security Automation</div>
        <div class="details"><span class="duration">2006 - 2007</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Created and led a WebSphere Console automation team using the GUI automation framework I designed and developed the previous year.</p>
      <p>Designed automation harnesses to test Web Services Policy Set features, Jython admin commands, Web Services Security, and general service and client Web Services application.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
      </div>
      <div class="text">
        <div class="title">QA Engineer, Team Lead</div>
        <div class="company-name">IBM, WebSphere Console GUI Automation FVT Lead</div>
        <div class="details"><span class="duration">2005 - 2006</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Began career manually testing the security panels of WebSphere Console (web interface), and found that moving the test team to a GUI automation solution would greatly increase efficiency of testing.</p>
      <p>Led a team developing a framework using Rational Functional Tester (RFT, an Eclipse based tool formally known as XDE) to test the WebSphere Console.  As more WebSphere Console FVT teams merged in, the framework was broadened to support the multiple users.  The framework is currently in production today, and has led to patent submissions.</p>
      <p>Led an RFT focused GUI Automation Community consisting of many members across IBM worldwide.</p>
    </div>

    <div class="company">
      <div class="image-wrap">
        <img class="image" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
      </div>
      <div class="text">
        <div class="title">Co-Op</div>
        <div class="company-name">IBM, WebSphere FVT, Kerberos FVT and SVT</div>
        <div class="details"><span class="duration">2000 - 2004</span>|<span class="location">Austin, TX</span></div>
      </div>
    </div>
    <div class="description">
      <p>Became technical team lead for WebSphere Functional Verification Test (FVT) automation project using Rational XDE/Robot GUI automation tool.</p>
      <p>FVT for Network Authentication Service (IBM’s Kerberos security product).  System Verification Test (SVT) for DCE and Network Authentication Service.</p>
    </div>

  </div>


  <h2>Leadership / Awards</h2>

  <ul class="awards">
    <li>Mentor for Reverb's internal Amplified program</li>
    <li>Mentor for the Chicago area Dev Together program</li>
    <li>NodeSchool mentor, co-organizer of Austin NodeSchool</li>
    <li>ATX Hack for Change participant, benefiting the Capital Area Food Bank</li>
    <li>Mentor for Austin's MakerSquare program</li>
    <li>Co-coordinator for Austin NodeBots Day</li>
    <li>Volunteer soccer coach for local youth soccer team</li>
    <li>Selected as a “Critical Talent” by PayPal as top contributor to the company</li>
    <li>Multiple awards given for outstanding contributions at PayPal and eBay</li>
    <li>Led education sessions for PayPal employees at multiple sites</li>
    <li>Technical Resource Candidate (IBM’s “Fast Track” program for future technical leaders)</li>
    <li>1 Rating at IBM (Given to the top 5-10% of the company), multiple IBM Team Awards</li>
  </ul>

  <h2>Education</h2>

  <p>The University of Texas; Austin, Texas — Bachelor’s in Computer Science, 2004</p>

</main>

{% endblock %}
