{% extends 'layout.server.view.html' %}

{% block content %}

<!-- main content -->
<main class="main">
    <!-- profile -->
    <div class="profile row">
        <div class="heading small-12 columns">
            <h2>Profile</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <p>Broad experience leading teams and producing high quality deliverables. Received the highest performance ratings. Identified as a top contributor and received “Critical Talent Award” at PayPal.  Selected as a future technical lead of the company in IBM’s “Fast Track” program.</p>
            <p>UI developer, back end engineer, QA automation tester. Mentor and educator both inside the workplace and in the open source community.  Involved in Meetups, hackathons, and the co-organizer of NodeSchool Austin.</p>
            <p>I enjoy solving problems, and helping others along the way.</p>
        </div>
    </div>

    <!-- experience -->
    <div class="experience row">
        <div class="heading small-12 columns">
            <h2>Experience</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/cognitivescale.jpg">
                <h3>Senior Software Engineer, Development Lead</h3>
                <h4>CognitiveScale, UI</h4>
                <h5><span class="duration">August 2014 - Present</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Designed and built out the initial user interface for the CognitiveScale platform.  The UI consists of a Node.js backend using Express to serve up the APIs, and an Angular client side application.  The framework was modeled after the mean.js template, but improvements were made and <a href="https://github.com/CognitiveScale/meanjs-template">open sourced</a>.  Jasmine, Karma, and Protractor were used for testing, and Grunt used to build a minified version for production.</p>
                <p>Developed additional web applications used to showcase the value of CognitiveScale to potential customers.  These web applications followed the same development pattern I initially setup and were transitioned to the vertical teams within the organization.  This allowed us to share best practices across teams and reuse production roll out scripts.</p>
                <p>Assisted the developer operations team on initial deployment of the Node.js applications, as well as production support for our applications.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/xogroup.jpg">
                <h3>Senior Software Engineer</h3>
                <h4>XO Group, Labs</h4>
                <h5><span class="duration">June 2013 – August 2014</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Analyzed internal bride data, and helped design a vendor app that provides vendors with a better understanding of their customers.  Prototyped data endpoints and developed an Apple push notification service for the app.  Setup an internal npm registry for internal Node.js packages, and helped DevOps design automation to deploy Node.js to production.</p>
                <p>Researched price data available, and developed APIs useful in prototyping a mobile app experience around displaying the price of wedding related products for consumers.  The APIs were developed in Node.js, using Express, and utilized Mongo as the backend database.  Passport security was integrated to allow user profiles in the mobile app.</p>
                <p>Developed an e-commerce marketplace platform to provide TheKnot vendors an ability to sell to the general public.  The APIs were developed in Java/Spring, and utilized Spring Security.  Designed and developed an admin interface to this system using Backbone.js, and used Node.js to both serve up the UI and test the backend APIs.  Setup a Jenkins continuous integration server to run nightly builds and deploy to an AWS EC2 environment.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
                <h3>Senior User Interface Engineer</h3>
                <h4>PayPal, Identity</h4>
                <h5><span class="duration">January 2013 - June 2013</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Worked on the PayPal Identity program, providing support to customers who wish to use PayPal to identify themselves to third party merchant web sites.</p>
                <p>Built and maintained third party JavaScript web applications which merchants could use to interact with the PayPal Identity offering, using mostly Backbone as a framework, Dust as a templating engine, and RequireJS to manage dependencies.  Spring REST and Node.js (depending on the application) were used on the backend to manage sending data needed to the client (browser).</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/ebay.png">
                <h3>Senior Software Engineer, Development Lead</h3>
                <h4>eBay, Resolutions Center</h3>
                <h5><span class="duration">January 2012 - December 2012</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>As part of the first eBay development team in Austin, helped in the transition of a large, legacy Java web application (the Resolution Center) hosted on the eBay website.</p>
                <p>Led development and architecture of the Resolutions Center redesign as part of the Simplified Claim Filing project.  This involved a major redesign of the legacy platform to an open source Spring/JAX-RS/OSGi based solution.  The update also included adoption of a JavaScript MVW style framework for the front-end.</p>
                <p>Continually involved in design, architecture, and planning of future work by aligning with the business, reaching out to external teams, and resource planning for FY2012/13 deliverables.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
                <h3>Senior Software Engineer</h3>
                <h4>PayPal, Architecture Infrastructure Web Technology</h4>
                <h5><span class="duration">January 2010 - January 2012</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Senior developer on web application infrastructure framework (Sparta).  Developed, led and maintained code used by PayPal to host Java based applications running the PayPal website.</p>
                <p>Architected and developed multiple Java based projects glued together with Maven, utilizing Spring for core configuration and web flow.</p>
                <p>Designed and implemented Eclipse based plugins used by developers to build applications and add individual web pages to existing projects.</p>
                <p>Lead technical developer on PayPal’s Digital Goods Express Checkout application, the first PayPal web flow to use “Remember Me” authentication.</p>
                <p>Led education sessions across the company on how to use Java, Spring, Maven, Eclipse, and Sparta based applications in general.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/paypal.png">
                <h3>Staff Software Engineer, Team Lead</h3>
                <h4>PayPal, Core Technologies Automation</h3>
                <h5><span class="duration">April 2008 - January 2010</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p> Created, designed, and implemented a Java based automation framework used by teams across PayPal.</p>
                <p> Led an effort to migrate testing to this Java based framework, gave presentations on its need and benefits to executive level management while leading educational sessions across the company.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
                <h3>Staff Software Engineer</h3>
                <h4>IBM, Web Services and Web Services Security Development</h3>
                <h5><span class="duration">January 2007 - April 2008</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Acquired a proficiency in Web Services policy set framework and administrative console, in addition to Web Services Security internals and caching solutions.</p>
                <p>Designed and implemented many features in Web Services, including schema definitions, working with JAXB generated objects, policy interactions, security role definitions, and multiple admin tasks.</p>
                <p>Developed Web Services Security functions. This required an understanding of internal caching mechanisms and an expansion upon those using MBean and JDBC/Database solutions.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
                <h3>Staff Software Engineer, Team Lead</h3>
                <h4>IBM, Web Services and Web Services Security Automation</h3>
                <h5><span class="duration">2006 - 2007</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Created and led a WebSphere Console automation team using the GUI automation framework I designed and developed the previous year.</p>
                <p>Designed automation harnesses to test Web Services Policy Set features, Jython admin commands, Web Services Security, and general service and client Web Services application.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
                <h3>Software Engineer, Team Lead</h3>
                <h4>IBM, WebSphere Console GUI Automation FVT Lead</h3>
                <h5><span class="duration">2005 - 2006</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Began career manually testing the security panels of WebSphere Console (web interface), and found that moving the test team to a GUI automation solution would greatly increase efficiency of testing.</p>
                <p>Led a team developing a framework using Rational Functional Tester (RFT, an Eclipse based tool formally known as XDE) to test the WebSphere Console.  As more WebSphere Console FVT teams merged in, the framework was broadened to support the multiple users.  The framework is currently in production today, and has led to patent submissions.</p>
                <p>Led an RFT focused GUI Automation Community consisting of many members across IBM worldwide.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="company">
                <img class="icon rectangle" src="https://s3.amazonaws.com/dylants-resume/public/images/ibm.png">
                <h3>Co-Op</h3>
                <h4>IBM, WebSphere FVT, Kerberos FVT and SVT</h3>
                <h5><span class="duration">2000 - 2004</span>|<span class="location">Austin, TX</span></h5>
            </div>
            <div class="description">
                <p>Became technical team lead for WebSphere Functional Verification Test (FVT) automation project using Rational XDE/Robot GUI automation tool.</p>
                <p>FVT for Network Authentication Service (IBM’s Kerberos security product).  System Verification Test (SVT) for DCE and Network Authentication Service.</p>
            </div>
        </div>
    </div>

    <div class="awards row">
        <div class="heading small-12 columns">
            <h2>Awards / Leadership</h2>
            <hr>
        </div>
    </div>

    <div class="awards-list row">
        <div class="small-12 columns">
            <ul>
                <li>NodeSchool mentor, co-organizer of Austin NodeSchool</li>
                <li>ATX Hack for Change participant, benefiting the Capital Area Food Bank</li>
                <li>Co-coordinator for Austin NodeBots Day 2014</li>
                <li>Selected as a “Critical Talent” by PayPal as top contributor to the company</li>
                <li>Multiple awards given for outstanding contributions at PayPal and eBay</li>
                <li>Led education sessions for PayPal employees at multiple sites</li>
                <li>Technical Resource Candidate (IBM’s “Fast Track” program for future technical leaders)</li>
                <li>1 Rating at IBM (Given to the top 5-10% of the company), multiple IBM Team Awards</li>
            </ul>
        </div>
    </div>

    <div class="education row">
        <div class="heading small-12 columns">
            <h2>Education</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <p>The University of Texas; Austin, Texas — Bachelor’s in Computer Science, 2004</p>
        </div>
    </div>

</main>

{% endblock %}
