{% extends 'layout.server.view.html' %}

{% block content %}

<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <!-- header and nav -->
        <header class="header">
            <nav class="hide-for-small">
                <section class="top row">
                    <h1 class="name">Dylan Smith</h1>
                    <hr>
                </section>
                <section class="bottom row">
                    <div class="social medium-2 columns">
                        <a class="link" href="https://github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">GitHub</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://blog.dylants.com">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/blog.png">
                            <span class="text">Blog</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://stackoverflow.com/users/3666800/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/stack-overflow.png">
                            <span class="text">Stack Overflow</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://gist.github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">Gists</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="https://twitter.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/twitter.png">
                            <span class="text">Twitter</span>
                        </a>
                    </div>
                    <div class="social medium-2 columns">
                        <a class="link" href="http://www.linkedin.com/in/dylants">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/linkedin.png">
                            <span class="text">LinkedIn</span>
                        </a>
                    </div>
                </section>
            </nav>
            <nav class="tab-bar show-for-small">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon">
                        <span></span>
                    </a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title">Dylan Smith</h1>
                </section>
            </nav>
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li>
                        <label class="first">Social</label>
                    </li>
                    <li>
                        <a class="link" href="https://github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://blog.dylants.com">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/blog.png">
                            <span class="text">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://stackoverflow.com/users/3666800/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/stack-overflow.png">
                            <span class="text">Stack Overflow</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://gist.github.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/github.png">
                            <span class="text">Gists</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="https://twitter.com/dylants">
                            <img class="icon" src="https://s3.amazonaws.com/dylants-resume/public/images/twitter.png">
                            <span class="text">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="http://www.linkedin.com/in/dylants">
                            <img class="icon square" src="https://s3.amazonaws.com/dylants-resume/public/images/linkedin.png">
                            <span class="text">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <a class="exit-off-canvas" href="#"></a>
        </header>

        <!-- main content -->
        <main>
        </main>
        
    </div>
</div>

{% endblock %}
